<!DOCTYPE html>
<html>
<head>
  <title>About</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="/static/homee.css">
<style>
  body {
    background-image: url('/static/images/aboutus_img.jpg'); /* Adjust the path to your image */
    background-size: cover; /* Adjust as needed to cover the entire body */
    background-repeat: no-repeat;
  }
</style>


</head>
<body>
    <div class="topnav">
  <a  href="/">Home</a>
  <a href="/login">Login</a>
  <a href="/contact">Contact</a>
  <a class="active" href="/templates/aboutus.html">About</a>

</div>


<h1>MEET OUR GROUP MEMBER</h1>
<br>

<div class="row">
  <div class="column">
    <div class="card">
      <img src="/static/images/Kaviyapriya.jpeg" alt="kaviyapriya K" style="width:100%">
      <div class="container">
        <h2>KAVIYAPRIYA K</h2>
        <p class="title">Developer</p>
        <p>Kaviyapriya is our detail-oriented problem solver. She excels in solving complex coding challenges and is dedicated to quality assurance, ensuring our websites run flawlessly.</p>
        <p>kaviyapriya2110735@ssn.edu.in</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="/static/images/kayathri.jpeg" alt="Kayathri R" style="width:100%">
      <div class="container">
        <h2>KAYATHRI R</h2>
        <p class="title">Developer</p>
        <p>Kayathri is our creative coder with a passion for innovation. She combines coding expertise with a keen eye for design, ensuring our websites are both functional and visually appealing.</p>
        <p>kayathri2110500@ssn.edu.in</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="/static/images/manasi2.jpeg" alt="Manasi Konidala" style="width:100%">
      <div class="container">
        <h2>KONIDALA MANASI</h2>
        <p class="title">Developer</p>
        <p>Manasi excels in writing efficient and error-free code with suitable algorithms and approches making applications run smoothly.She's passion lies in creating visually appealing and user friendly web designs that captivate users.</p>
        <p>manasi2110294@ssn.edu.in</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
  


</body>
</html>
