<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">
    <title>Website Home Page</title>
    
<!-- </head>
<body>
    <div class="pimage">
        <div class="menu">

            <div class="leftmenu">
                <h4> WELCOME </h4>
            </div>

            <div class="rightmenu">
                <ul>
                    
                    <a href=aboutus>Aboutus</a>
                    
                    <li></li>
                    <li></li>
                </ul>
            </div>

        </div>
        <div class="text">
            
            <h1>SEAT RECOMMENDATION SYSTEM </h1>
            <h3>!seating made easy!</h3>
            <a href=signup><button type="button" class="btn"> SIGNUP</button></a>
            <a href=login><button type="button" class="btn"> LOGIN</button></a>
            
        </div>
        
    </div>
</body>
</html> -->
</head>
<body>
    <div class="pimage">
        <div class="menu">

            <div class="leftmenu">
                <h4> WELCOME </h4>
            </div>

            <div class="rightmenu">
                <ul>
                    <!-- <li id="firstlist">Home</li> -->
                    <li><a href="/aboutus">About Us</a></li>
                    
                    
                </ul>
            </div>

        </div>
        <div class="text">
            
            <h1>SEAT RECOMMENDATION SYSTEM </h1>
            <h3>!seating made easy!</h3>
            <a href=signup><button type="button" class="btn"> SIGNUP</button></a>
            <a href=login><button type="button" class="btn"> LOGIN</button></a>
            
        </div>
        
    </div>
</body>
</html>